{% extends 'base.html.twig' %}

{% block title %}Créer une entreprise{% endblock %}

{% block body %}
    <div class="container">
        <h2>Créer une entreprise</h2>
        {{ include('entreprise/_form.html.twig') }}
        <div class="mt-4">
            <a href="{{ path('entreprise_index') }}">
                <span data-feather="arrow-left"></span>
                Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}
