{% extends 'base.html.twig' %}

{% block title %}Edit Contrat{% endblock %}

{% block body %}
<div class="container">
    <h2>Modification d'un contrat</h2>
    {{ include('contrat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contrat_index') }}">back to list</a> <br />
    {{ include('contrat/_delete_form.html.twig') }}
</div>
{% endblock %}
